html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

/* ! div#wrapper */
#wrapper {
  background-color: #000;
  /* background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed; */
  width: 100%;
  height: 98vh;
  margin: 0 auto;
  overflow: hidden;
}

/* ! header부분 */
header {
  width: 100%;
  height: 10vh;
  text-align: center;
}
nav {
  width: 100%;
  height: 100%;
}

nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  line-height: 10vh;
  display: inline-block;
  margin-inline-start: 2%;
  margin-inline-end: 2%;
  font-size: 2vw;
  font-weight: bold;
}

nav ul:hover * {
  filter: blur(5px);
}
nav li:hover {
  filter: blur(0);
  text-shadow: 0px 0px 0.8vw greenyellow;
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.tran {
  transition-duration: 1s;
  transition-timing-function: ease;
}

/* ! Section부분 */
section {
  clear: both;
  width: 99.8%;
  height: 78vh;
  /* border: 2px solid red; */
  /* 모든세션 display none */
  display: none;
  overflow: hidden;
  position: relative;
}

/* main 세션만 display block */
/* 추후 클릭에 따라 세션 display변경 */
.mainSection {
  /* 첫화면에 main페이지 보여주기 위함 */
  display: block;
}

/* ! Contact 세션 */
/* #content4 {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* contact video */
#contactVideo {
  position: absolute;
  left: 0vh;
  top: 0vh;
  width: 100%;
  height: 78vh;
  padding: 0;
  margin: 0;
}

/* 호버기능 제어 최상단div */
#contactHover {
  background-color: black;
  position: absolute;
  left: 9%;
  top: 0vh;
  width: 82%;
  height: 78vh;
  opacity: 0;
  z-index: 10;
}
/* 정보Div */
#contactDiv {
  position: absolute;
  left: 50%;
  top: 55%;
  width: 25%;
  color: white;
  margin-left: 0%;
  margin-top: -20%;
  padding-left: 10vh;
  font-size: 2vw;
  font-weight: bold;
  z-index: 9;
  transform: scale(0, 0);
  text-shadow: 1px 1px 10px black;
}

/* Hover 알림 div */
#Hover {
  background-color: black;
  position: absolute;
  left: 40%;
  top: 25vh;
  width: 20%;
  height: 25vh;
  opacity: 0.7;
  color: white;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  line-height: 25vh;
  border-radius: 50%;
  z-index: 9;
  transform: scale(1, 1);
}

/* 호버기능 구현 */
#contactHover:hover ~ #contactDiv,
#contactDiv:hover {
  transform: scale(1, 1);
  z-index: 11;
}
#contactHover:hover ~ #Hover,
#contactDiv:hover + #Hover {
  transform: scale(0, 0);
}

/* 트랜지션 설정 */
.contactTran {
  transition-duration: 1s;
  transition-timing-function: ease;
}

#contactDiv-title {
  position: relative;
  font-size: 3vw;
  -webkit-text-stroke: 0.1vw black;
}
#contactDiv-title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: blanchedalmond;
  -webkit-text-stroke: 0vw black;
  border-right: 0.4vw solid white;
  overflow: hidden;
  animation: aniName 4s linear infinite;
}

@keyframes aniName {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

/* 전화번호클릭시 전화기능 구현 상태4가지표시 */
a[href="tel:010-6353-4583"]:link {
  color: white;
  text-decoration: none;
}
a[href="tel:010-6353-4583"]:visited {
  color: white;
}
a[href="tel:010-6353-4583"]:hover {
  text-decoration: underline;
}
a[href="tel:010-6353-4583"]:active {
  color: tomato;
}

/* SNS아이콘 설정 */
#socialList {
  clear: both;
  position: relative;
  display: flex;
  list-style-type: none;
  padding: 0;
  text-shadow: none;
}
.sns {
  position: relative;
  margin: 0;
  margin-right: 2vw;
  cursor: pointer;
}
.sns a {
  text-decoration: none;
}
.sns a .fa {
  font-size: 2vw;
  color: #000;
}
.sns::before {
  font-family: fontAwesome;
  position: absolute;
  top: 0.5vw;
  left: 0;
  font-size: 2vw;
  height: 100%;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.sns:nth-child(1)::before {
  content: "\f16d";
  color: rgb(226, 77, 134);
  border-bottom: 4px solid rgb(226, 77, 134);
}
.sns:nth-child(2)::before {
  content: "\f27a";
  color: yellow;
  border-bottom: 4px solid yellow;
}
.sns:nth-child(3)::before {
  content: "\f143";
  color: rgb(255, 157, 0);
  border-bottom: 4px solid rgb(255, 157, 0);
}
.sns:nth-child(4)::before {
  content: "\f09b";
  color: gray;
  border-bottom: 4px solid gray;
}
.sns:hover::before {
  height: 0%;
}

/* ! footer부분 */
footer {
  width: 100%;
  height: 10vh;
  overflow: hidden;
  position: relative;
}
footer ul {
  position: absolute;
  left: 0;
  bottom: 2vh;
  list-style: none;
  font-size: 1vw;
  padding-left: 1vw;
  margin: 0;
}
footer ul li {
  float: left;
  margin-right: 1vw;
  position: relative;
}
footer ul li h3 {
  margin: 0;
}

footer ul li h3 a:link {
  color: unset;
  text-decoration: none;
}
footer ul li h3 a:visited {
  color: unset;
}
footer ul li h3 a:hover {
  text-decoration: underline;
}
footer ul li h3 a:active {
  color: tomato;
}

.copyright {
  margin: 0;
  padding-right: 1vw;
  position: absolute;
  bottom: 2vh;
  right: 0;
  font-size: 1.5vw;
}

/* ! Main 세션 */
#content1 {
  overflow: hidden;
  position: relative;
}
/* video담는 div */
#mainVideo {
  position: absolute;
  top: -20vh;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
/* 비디오부분 */
#mainVideo video {
  width: 100%;
  height: auto;
}

/* 비디오 위에 그려질 Div */
#mainDiv {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 99%;
  height: 77vh;
  overflow: hidden;
  z-index: 2;
  text-align: center;
}

/* 텍스트가 들어갈 div */
#mainDiv > div {
  margin-top: 4.5vh;
  font-size: 7vw;
  font-weight: bold;
  text-shadow: 0px 0px 1vw greenyellow;

  transition-duration: 1s;
}
/* 1번째 텍스트 div 애니메이션 딜레이를 두려고 따로설정 */
#mainDiv div:nth-child(1) {
  animation-name: mainAni;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
/* 2번째 텍스트 div 애니메이션 딜레이를 두려고 따로설정 */
#mainDiv div:nth-child(3) {
  animation-name: mainAni;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
/* 1,2번 텍스트 div에 부여할 애니메이션 효과 */
@keyframes mainAni {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* ! Introduction 세션 */
#content2 {
  margin: 0;
  padding: 0;
  /* 보더값 없애야됨 */
  /* border: 1px solid red; */
  position: relative;
}

/* 백그라운드 구현 시작 */
#introBack {
  position: absolute;
  left: 0;
  top: 0;
  width: 97%;
  height: 78vh;
  z-index: 1;
}
#introBack-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 78vh;
  background: #000;
  overflow: hidden;
}
.glowing span:nth-child(1) {
  --i: 1;
}
.glowing span:nth-child(2) {
  --i: 2;
}
.glowing span:nth-child(3) {
  --i: 3;
}

.glowing {
  position: relative;
  min-width: 750px;
  height: 750px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}
.glowing:nth-child(even) {
  transform-origin: left;
}
@keyframes colorChange {
  0% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
}
.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}
.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}
.glowing span:nth-child(3n + 1)::before {
  background: rgba(134, 255, 0, 1);
  box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
    0 0 0 8px rgba(134, 255, 0, 0.1);
}
.glowing span:nth-child(3n + 2)::before {
  background: rgba(255, 214, 0, 1);
  box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
    0 0 0 8px rgba(255, 214, 0, 0.1);
}
.glowing span:nth-child(3n + 3)::before {
  background: rgba(0, 226, 255, 1);
  box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 40px rgba(0, 226, 255, 1),
    0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1),
    0 0 0 8px rgba(0, 226, 255, 0.1);
}
.glowing span:nth-child(3n + 1) {
  animation: introAni 10s alternate infinite;
}
.glowing span:nth-child(3n + 2) {
  animation: introAni-reverse 3s alternate infinite;
}
.glowing span:nth-child(3n + 3) {
  animation: introAni 8s alternate infinite;
}
@keyframes introAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes introAni-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* 백그라운드 구현 종료 */

/* 내용을 담을 DIV */
#introDiv {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 77vh;
  z-index: 2;
  text-align: center;
}
/* 이미지태그 */
#introDiv img {
  position: absolute;
  right: -1vw;
  bottom: 0;
  width: 20%;
  height: auto;
}
#introDiv-name {
  position: absolute;
  font-size: 6vw;
  left: 1vw;
  top: 0;
}
/* 소개 글귀 */
#introDiv-descript {
  position: absolute;
  font-size: 2vw;
  left: 20vw;
  top: 20vh;
  line-height: 4vw;
}
