html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

/* ! div#wrapper */
#wrapper {
  background-color: #000;
  /* background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed; */
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

/* ! header부분 */
header {
  width: 100%;
  height: 10vh;
  text-align: center;
}
nav {
  width: 100%;
  height: 100%;
}

nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  line-height: 10vh;
  display: inline-block;
  margin-inline-start: 2%;
  margin-inline-end: 2%;
  font-size: 2vw;
  font-family: "Alfa Slab One", cursive;
}
#li1 {
  text-shadow: 0px 0px 0.8vw greenyellow;
  -webkit-text-stroke: 0.05vw yellowgreen;
}
#li2 {
  text-shadow: 0px 0px 0.8vw yellow;
  -webkit-text-stroke: 0.05vw yellow;
}
#li3 {
  text-shadow: 0px 0px 0.8vw red;
  -webkit-text-stroke: 0.05vw red;
}
#li4 {
  text-shadow: 0px 0px 0.8vw deepskyblue;
  -webkit-text-stroke: 0.05vw deepskyblue;
}
#li5 {
  text-shadow: 0px 0px 0.8vw orange;
  -webkit-text-stroke: 0.05vw orange;
}
#li6 {
  text-shadow: 0px 0px 0.8vw white;
  -webkit-text-stroke: 0.05vw white;
}
#li7 {
  text-shadow: 0px 0px 0.8vw white;
  -webkit-text-stroke: 0.05vw white;
  display: none;
}

nav ul:hover * {
  filter: blur(5px);
  transform: scale(0.8, 0.8);
}
nav li:hover {
  filter: blur(0);
  transform: scale(1.2, 1.2);
  cursor: pointer;
  text-decoration: underline;
}

.tran {
  transition-duration: 1s;
  transition-timing-function: ease;
}

/* ! Section부분 */
section {
  clear: both;
  width: 99.8%;
  height: 78vh;
  /* border: 2px solid red; */
  /* 모든세션 display none */
  display: none;
  overflow: hidden;
  position: relative;
}

/* main 세션만 display block */
/* 추후 클릭에 따라 세션 display변경 */
.mainSection {
  /* 첫화면에 main페이지 보여주기 위함 */
  display: block;
}
/* ! Main 세션 */
#content1 {
  overflow: hidden;
  position: relative;
}
/* video담는 div */
#mainVideo {
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 78vh;
  overflow: hidden;
  z-index: 2;
}
/* 비디오부분 */
#mainVideo video {
  position: absolute;
  top: 0vh;
  width: 100%;
  height: auto;
}

/* 비디오 위에 그려질 Div */
#mainDiv {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 99%;
  height: 77vh;
  overflow: hidden;
  z-index: 3;
  text-align: center;
}

/* 텍스트가 들어갈 div */
#mainDiv > div {
  font-size: 7vw;
  font-weight: bold;
  -webkit-text-stroke: 0.1vw greenyellow;
  text-shadow: 0px 0px 1vw greenyellow;
  transition-duration: 1s;
}
/* 1번째 텍스트 div 애니메이션 딜레이를 두려고 따로설정 */
#mainDiv div:nth-child(1) {
  margin-top: 4.5vh;
  animation-name: mainAni1;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
/* 2번째 텍스트 div 애니메이션 딜레이를 두려고 따로설정 */
#mainDiv div:nth-child(2) {
  margin-top: 28vh;
  animation-name: mainAni2;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
/* 1,2번 텍스트 div에 부여할 애니메이션 효과 */
@keyframes mainAni1 {
  0% {
    transform: scale(0, 0) translateY(100vh);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes mainAni2 {
  0% {
    transform: scale(0, 0) translateY(-100vh);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* 가로세로 비율 깨질시 안내문 */
#warn {
  position: absolute;
  text-align: center;
  bottom: 10vh;
  width: 100%;
  color: red;
  font-size: 3vh;
  z-index: 1;
  opacity: 0;
  animation-name: delay;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes delay {
  0% {
  }
  100% {
    opacity: 1;
  }
}
/* #subVideo {
  position: absolute;
  top: 0vh;
  left: -145%;
  height: 78vh;
  overflow: hidden;
  z-index: 1;
} */

/* ! Introduction 세션 */
#content2 {
  margin: 0;
  position: relative;
}

/* 백그라운드 구현 시작 */
#introBack {
  position: absolute;
  left: 0;
  top: 0;
  width: 97%;
  height: 78vh;
  z-index: 1;
}
#introBack-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 78vh;
  background: #000;
  overflow: hidden;
}
.glowing span:nth-child(1) {
  --i: 1;
}
.glowing span:nth-child(2) {
  --i: 2;
}
.glowing span:nth-child(3) {
  --i: 3;
}
.glowing span:nth-child(4) {
  --i: 4;
}
.glowing span:nth-child(5) {
  --i: 5;
}
.glowing span:nth-child(5) {
  --i: 6;
}

.glowing {
  position: relative;
  min-width: 750px;
  height: 750px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}
.glowing:nth-child(even) {
  transform-origin: left;
}
@keyframes colorChange {
  0% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
}
.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}
.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}
.glowing span:nth-child(3n + 1)::before {
  background: rgba(134, 255, 0, 1);
  box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
    0 0 0 8px rgba(134, 255, 0, 0.1);
}
.glowing span:nth-child(3n + 2)::before {
  background: rgba(255, 214, 0, 1);
  box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
    0 0 0 8px rgba(255, 214, 0, 0.1);
}
.glowing span:nth-child(3n + 3)::before {
  background: rgba(0, 226, 255, 1);
  box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 40px rgba(0, 226, 255, 1),
    0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1),
    0 0 0 8px rgba(0, 226, 255, 0.1);
}
.glowing span:nth-child(4n + 1) {
  animation: introAni 10s alternate infinite;
}
.glowing span:nth-child(4n + 2) {
  animation: introAni-reverse 3s alternate infinite;
}
.glowing span:nth-child(4n + 3) {
  animation: introAni 8s alternate infinite;
}
.glowing span:nth-child(4n + 4) {
  animation: introAni-reverse 2s alternate infinite;
}
@keyframes introAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes introAni-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* 백그라운드 구현 종료 */

/* 내용을 담을 DIV */
#introDiv {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 77vh;
  z-index: 2;
  text-align: center;
}
/* 이미지태그 */
#introDiv img {
  position: absolute;
  right: -1vw;
  bottom: -0.9vh;
  width: 20%;
  height: auto;
}
/* introduction에서 이름이 들어갈 DIV */
#introDiv-name {
  position: absolute;
  font-size: 6vw;
  top: 0;
  font-family: "Alfa Slab One", cursive;
  animation-name: name;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-text-stroke: 0.1vw yellow;
}

/* 이름값에 적용해줄 반짝반짝 애니메이션 */
@keyframes name {
  0% {
    text-shadow: 0 0 0vw yellow;
    transform: scale(0.9, 0.9);
  }
  50% {
    text-shadow: 0 0 3vw yellow;
    transform: scale(1, 1);
  }
  100% {
    text-shadow: 0 0 0vw yellow;
    transform: scale(0.9, 0.9);
  }
}

/* 소개 글귀 */
#introDiv_descript1,
#introDiv_descript2,
#introDiv-btns {
  position: absolute;
  font-size: 2vw;
  left: 0;
  top: 30%;
  width: 100%;
  height: 60%;
  line-height: 4vw;
  text-shadow: 0 0 1vw yellow;
  font-family: "Black Han Sans", sans-serif;
}

#introDiv_descript1 {
  animation-name: descript1;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes descript1 {
  0% {
    transform: translateX(0%) scale(0.8, 0.8);
  }
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%) scale(0.8, 0.8) rotate(-720deg);
  }
}
/* 3초진행 1초 움직임 */

#introDiv_descript2 {
  animation-name: descript2;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
/* 3초대기 1초 움직임 3초 진행 */
@keyframes descript2 {
  0% {
    transform: translateX(100%) scale(0.8, 0.8);
  }
  30% {
    transform: translateX(100%) scale(0.8, 0.8);
  }
  40% {
    transform: translateX(0%) scale(0.8, 0.8) rotate(-720deg);
  }
  70% {
    transform: scale(1, 1) translateY(0);
  }
  72%,
  76%,
  80%,
  84%,
  88%,
  92%,
  96%,
  100% {
    transform: scale(1, 1) translateY(0);
  }
  74%,
  78%,
  82%,
  86%,
  90%,
  94%,
  98% {
    transform: scale(1, 1) translateY(-1vw);
  }
}

/* 버튼1,2 눌렸을때 */
@keyframes move {
  0% {
    transform: translateX(0%);
  }
  1% {
    transform: translateX(100%);
  }
}

#introDiv-btns input {
  padding: 0;
  font-size: 1vw;
  width: 2vw;
  height: 2vw;
  text-align: center;
  border-radius: 50%;
  background-color: black;
  color: white;
  border-color: yellow;
  border-width: 0.3vw;
  font-family: "Alfa Slab One", cursive;
}
#introDiv-btns input:hover {
  cursor: pointer;
}
#btn1:hover,
#btn2:hover,
#btn3:hover {
  transform: scale(1.2, 1.2);
}
/* ! Contact 세션 */
/* #content4 {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* contact video */
#contactVideo {
  position: absolute;
  left: 0vh;
  top: 0vh;
  width: 100%;
  height: 78vh;
  padding: 0;
  margin: 0;
}

/* 호버기능 제어 최상단div */
#contactHover {
  background-color: black;
  position: absolute;
  left: 9%;
  top: 0vh;
  width: 82%;
  height: 78vh;
  opacity: 0;
  z-index: 10;
}
/* 정보Div */
#contactDiv {
  position: absolute;
  left: 50%;
  top: 55%;
  width: 25%;
  color: orange;
  margin-left: 0%;
  margin-top: -20%;
  padding-left: 10vh;
  font-size: 2vw;
  font-weight: bold;
  z-index: 9;
  transform: scale(0, 0);
}
#email {
  font-weight: lighter;
  font-family: "Black Han Sans", sans-serif;
  -webkit-text-stroke: 0.1vw white;
}
#tel {
  -webkit-text-stroke: 0.1vw white;
}
/* Hover 알림 div */
#Hover {
  background-color: black;
  position: absolute;
  left: 40%;
  top: 25vh;
  width: 20%;
  height: 25vh;
  opacity: 0.7;
  color: white;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  line-height: 25vh;
  border-radius: 50%;
  z-index: 9;
  transform: scale(1, 1);
}

/* 호버기능 구현 */
#contactHover:hover ~ #contactDiv,
#contactDiv:hover {
  transform: scale(1, 1);
  z-index: 11;
}
#contactHover:hover ~ #Hover,
#contactDiv:hover + #Hover {
  transform: scale(0, 0);
}

/* 트랜지션 설정 */
.contactTran {
  transition-duration: 1s;
  transition-timing-function: ease;
}

#contactDiv-title {
  position: relative;
  font-size: 3vw;
  -webkit-text-stroke: 0.08vw white;
}
#contactDiv-title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: bisque;
  background-color: white;
  -webkit-text-stroke: 0.1vw orange;
  border-right: 0.4vw solid white;
  overflow: hidden;
  animation: aniName 2s linear infinite;
}

@keyframes aniName {
  0% {
    width: 0;
  }
  10% {
    width: 0;
  }
  70% {
    width: 100%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* 전화번호클릭시 전화기능 구현 상태4가지표시 */
a[href="tel:010-6353-4583"]:link {
  color: orange;
  font-family: "Black Han Sans", sans-serif;
  text-decoration: none;
  font-weight: lighter;
}
a[href="tel:010-6353-4583"]:visited {
  font-family: "Black Han Sans", sans-serif;
  color: orange;
  font-weight: lighter;
}
a[href="tel:010-6353-4583"]:hover {
  font-family: "Black Han Sans", sans-serif;
  text-decoration: underline;
  color: white;
  -webkit-text-stroke: 0.1vw orange;
  font-weight: lighter;
}
a[href="tel:010-6353-4583"]:active {
  font-family: "Black Han Sans", sans-serif;
  color: orange;
  font-weight: lighter;
}

/* SNS아이콘 설정 */
#socialList {
  clear: both;
  position: relative;
  display: flex;
  list-style-type: none;
  padding: 0;
  text-shadow: none;
}
.sns {
  position: relative;
  margin: 0;
  margin-right: 2vw;
  cursor: pointer;
}
.sns a {
  text-decoration: none;
}
.sns a .fa {
  font-size: 2vw;
  color: #000;
}
.sns::before {
  font-family: fontAwesome;
  position: absolute;
  top: 0.5vw;
  left: 0;
  font-size: 2vw;
  height: 100%;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.sns:nth-child(1)::before {
  content: "\f16d";
  color: rgb(226, 77, 134);
  border-bottom: 0.2vw solid rgb(226, 77, 134);
}
.sns:nth-child(2)::before {
  content: "\f27a";
  color: yellow;
  border-bottom: 0.2vw solid yellow;
}
.sns:nth-child(3)::before {
  content: "\f143";
  color: rgb(255, 157, 0);
  border-bottom: 0.2vw solid rgb(255, 157, 0);
}
.sns:nth-child(4)::before {
  content: "\f09b";
  color: gray;
  border-bottom: 0.2vw solid gray;
}
.sns:hover::before {
  height: 0;
}

/* ! 로그인부분 */
#content6 {
  position: absolute;
  display: none;
  top: 10vh;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 78vh;
  overflow: hidden;
  z-index: 999;
  animation-name: aaaa;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes aaaa {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

#LogFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}
#Logback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80vh;
  background: linear-gradient(
    -30deg,
    #03a9f4,
    #3a78b7 50%,
    #262626 50%,
    #607d8b 100%
  );
  /* filter: hue-rotate(120deg); */
  animation: animate 10s linear infinite;
  border-radius: 20%;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

#exitImg {
  cursor: pointer;
  filter: invert(1);
}

.box {
  position: relative;
  padding: 1vw;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20%;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
.box::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 15%,
    transparent 50%,
    transparent 85%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.box .form {
  position: relative;
  width: 100%;
}
.box .form h2 {
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 2vh;
  font-size: 4vw;
}
.box .form .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 2vh;
}
.box .form .inputBox input {
  width: 27vw;
  height: 3.5vw;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 6px;
  color: white;
  font-size: 2vw;
  font-weight: 300;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
  padding-left: 4.5vw;
}
.box .form .inputBox img {
  position: absolute;
  top: 1vh;
  left: 1vw;
  filter: invert(1);
}
.remember {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: 300;
  margin-bottom: 1vh;
  cursor: pointer;
  font-size: 2vw;
}
.box .form .inputBox input[type="button"] {
  background: white;
  color: black;
  padding: 0;
  box-shadow: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.box .form .inputBox input::placeholder {
  color: white;
}
.box p {
  font-size: 2vw;
  margin: 0;
}
#form1 {
  transform: translateX(16vw);
  transition-duration: 1s;
}
#form2 {
  transform: translateX(116vw);
  transition-duration: 1s;
}

/* ! footer부분 */
footer {
  width: 100%;
  height: 10vh;
  overflow: hidden;
  position: relative;
}
footer ul {
  position: absolute;
  left: 0;
  bottom: 0vh;
  list-style: none;
  font-size: 1.5vw;
  padding-left: 1vw;
  margin: 0;
}
footer ul li {
  float: left;
  margin-right: 1vw;
  position: relative;
}

footer ul li a:link {
  color: unset;
  text-decoration: none;
}
footer ul li a:visited {
  color: unset;
}
footer ul li a:hover {
  text-decoration: underline;
}
footer ul li a:active {
  color: tomato;
}

.copyright {
  margin: 0;
  padding-right: 1vw;
  position: absolute;
  bottom: 0vh;
  right: 0;
  font-size: 1.5vw;
}

/* ! Roadmap 세션 */
#content4 {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.content4_top {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 20vh;
}
#label_year {
  width: 100%;
  height: 13vh;
  font-size: 2.5vw;
  font-family: "Alfa Slab One", cursive;
  animation-name: label_year_ani;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-text-stroke: 0.1vw deepskyblue;
  font-weight: bold;
  margin-bottom: 0.5vh;
}
@keyframes label_year_ani {
  0% {
    text-shadow: 0 0 0vw deepskyblue;
    transform: scale(0.9, 0.9);
  }
  50% {
    text-shadow: 0 0 3vw deepskyblue;
    transform: scale(1, 1);
  }
  100% {
    text-shadow: 0 0 0vw deepskyblue;
    transform: scale(0.9, 0.9);
  }
}
#year {
  margin-top: 2vh;
  width: 30vw;
  z-index: 98;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: skyblue;
  border: 2px solid white;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  opacity: 0.5;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vw;
  height: 2vw;
  background: deepskyblue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2vw;
  height: 2vw;
  background: deepskyblue;
  cursor: pointer;
}
.content4_bottom {
  z-index: 0;
  /* 추후 width, height바꿈 */
  width: 99.5%;
  height: 57vh;
  position: absolute;
  top: 20vh;
  left: 0;
  display: none;
}
#bottom_main {
  display: block;
}
.leftImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 37%;
  height: 100%;
  border-radius: 20%;
  border: 2px solid white;
}
.centerDiv {
  position: absolute;
  top: 0;
  margin: 5px;
  left: 37.5%;
  width: 24%;
  height: 96%;
  text-align: center;
  border-radius: 20%;
  box-shadow: 0 0 3vh white;
  transition-duration: 1s;
  border: 2px solid white;
}
.centerDiv Div:first-of-type {
  color: skyblue;
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-size: 5vw;
  font-family: "Black Han Sans", sans-serif;
  -webkit-text-stroke: 0.1vw deepskyblue;
  text-decoration: underline;
}
.centerDiv Div:last-of-type {
  position: absolute;
  font-size: 1.7vw;
  top: 19vh;
  left: 0;
  width: 24vw;
  height: 25vh;
  line-height: 4vh;
  text-shadow: 0 0 1vw skyblue;
  font-family: "Black Han Sans", sans-serif;
  -webkit-text-stroke: 0.1vw skyblue;
}

.rightImg {
  position: absolute;
  right: 0;
  top: 0;
  width: 37%;
  height: 100%;
  border-radius: 20%;
  border: 2px solid white;
}

/* ! 세션3 */
#content3 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-family: consolas;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .boxx {
  position: relative;
  width: 20vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  border: 3px solid white;
  animation-name: boxx;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes boxx {
  0%,
  100% {
    box-shadow: 0px 0px 0px white;
  }
  50% {
    box-shadow: 0px 0px 2vw white;
  }
}
.container .boxx .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(800px at center 8vw);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.container .boxx:hover .imgBx {
  clip-path: circle(6vw at center 8vw);
  transition-delay: 0s;
}
.container .boxx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .boxx .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  box-sizing: border-box;
  text-align: center;
}
.container .boxx .content h2 {
  margin: 0;
  padding: 0;
}
.container .boxx .content a {
  text-decoration: none;
  background: #000;
  color: #fff;
  display: inline-block;
}
.container .boxx .content h2 {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
  font-size: 3vw;
  -webkit-text-stroke: 0.15vw red;
  text-shadow: 0 0 1vw red;
  text-decoration: underline;
}
.container .boxx .content p,
.container .boxx .content a {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
  font-size: 1.5vw;
}
.container .boxx:hover .content h2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.container .boxx:hover .content p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s;
}
.container .boxx:hover .content a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s;
}
